
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: 
    "title form-container";
}

.right-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-title > h1 {

    display: inline-block;
    word-spacing: 100vw;
    font-family: roboto;
    font-weight: 900;
    font-size: 5em;
    color: white;
    padding-left: 125px;
    position: relative;
    top: -70px;
    letter-spacing: 2px;
}

.form-container {
    grid-area: form-container;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    color: white;
    position: relative;
    top: -60px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.575);
    padding: 60px 40px;
    border-radius: 10px;
    font-family: roboto;
    font-size: 300;

}

label {
    padding-bottom: 10px;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    
    outline: none;
    border-radius: 7px;
    width: 300px;
    height: 30px;  
    color: rgb(255, 255, 255);
    font-family: roboto;
    font-size: 300;
    font-size: 1.2em;
    padding: 15px 5px;
    position: relative;

}

.error-msg {
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 5px;
    color: #ac1a0a;
    
}

#email-error {
    visibility:hidden;
}

#country-error {
    visibility: hidden;
}

#zip-error {
    visibility: hidden;
}

#password-error {
    visibility: hidden;
}

#password2-error {
    visibility: hidden;
}



.submitbtn {
    font-family: roboto;
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 10px;
    color: #fff;
    width: 300px;
    height: 40px;  
    background-color: #002D62;
    border: 0px;
    border-radius: 5px;
    transition: 200ms ease;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #004391;
}

.input-container {
    position: relative;
}

.input-container.success input{
    border-color: #2ecc71;
}

.input-container.error input{
    border-color: #e74c3c;
}


.text {
    color: white;
}

.checkmark {
    position: absolute;
    right: 10px;
    bottom: 9px;
    color: #2ecc71;
    visibility: hidden;
}

.error-alert {
    position: absolute;
    right: 10px;
    bottom: 9px;
    color: #e74c3c;
    visibility: hidden;
}

.input-container.success i.checkmark {
    visibility: visible;
}

.input-container.error  i.error-alert {
    visibility: visible;
}
